@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@font-face {
    font-family: 'General Sans';
    src: url('../src/assets/fonts/GeneralSans-Variable.ttf');
}

#root {
    font-family: 'General Sans', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
}

a {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    color: #FFF;
}

input, textarea {
    background-color: #F3F3F3;
    border-radius: 10px;
    border: 0;
    outline: 0;
    font-family: 'General Sans', sans-serif;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    color: #121212;
}

p {
    font-size: 0.9rem;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes openNav {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}