@import './mixins.scss';

div.about-page {
    .header {
        padding: 5rem 2rem;
        color: #FFF;
        background-image: url('../images/about-page-bg.png');
        background-position: 0% 50%;
        background-size: cover;

        .container {
            h2 {
                font-weight: 700;
            }
        }
    }
    .contain { 
        .row {
            justify-content: stretch;
            position: relative;
            .grey {
                position: absolute;
                background-color: $Grey;
                left: -50%;
                height: 100%;
            }
            .started {
                background-color: $Grey;
            }
            .started-left {
                display: flex;
                align-items: center;
                .started-image {
                    width: 100%;
                    right: 4rem;
                }
            }
        }
        .vision-mission {
            width: 100%;
            .vm-box {
                width: 40%;
                background-color: $Green;
                color: #FFF;
                display: flex;
                flex-direction: column;
                // justify-content: center;
                align-items: center;
                text-align: center;
                background-color: $Green;
                border-radius: 10px;

                .icon {
                    height: 2.5rem;
                    width: 2.5rem;
                    margin-bottom: 1rem;
                }
            }
        }
        .values {
            .values-bg {
                background-color: $AboutValues;
                .container {
                    .row {
                        justify-content: center;
                        .column {
                            .value-card {
                                background-color: #FFF;
                                border-radius: 10px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                text-align: left;
                                height: 100%;
                                .value-svg {
                                    height: 2.5rem;
                                    width: 2.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        .csr {
            .row {
                .col-lg-6 {
                    .csr-badge {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                }
            }
        }
        .team {
            position: relative;
            .bg {
                position: absolute;
                object-fit: cover;
                width: 20%;
                height: 100%;
                opacity: 70%;
            }
            .bg-2 {
                right: 0;
            }
        }
    }
}

@media (max-width: 768px) {
    div.about-page {
        .contain {
            .row {
                justify-content: stretch;
                position: relative;
                margin-top: 0 !important;
                .col-lg-7 {
                    padding: 3rem 1rem 7rem 1rem !important;
                    p {
                        padding: 0 !important;
                    }
                }
                .grey {
                    display: none;
                }
                .started-left {
                    .started-image {
                        width: 100%;
                        bottom: 5rem;
                        right: 0;
                    }
                }
            }
            .vision-mission {
                flex-wrap: wrap;
                .vm-box {
                    width: 100%;
                    margin-bottom: 1.5rem !important;
                    margin-top: 0 !important;
                }
            }
        }
    }
}