@import './mixins.scss';

div.footer {
    background-color: $FooterBG;
    padding-top: 3rem;
    padding-bottom: 3rem;

    .container {
        .row {
            .col-lg-4 {
                margin-bottom: 2rem;

                h6 {
                    color: $Green;
                }
                h5 {
                    font-size: 1rem;
                    margin-bottom: 1.5rem;
                }
                p {
                    font-size: 0.8rem;
                }
                .flex {
                    a {
                        img {
                            width: 1.3rem;
                        }
                    }
                }
                .d-flex {
                    img.contact-icon {
                        width: 1rem;
                        margin-right: 0.5rem;
                    }
                    p {
                        font-weight: 500;
                    }
                }
                a {
                    font-weight: 500;
                    color: $TextColor;
                }
            }
            .col-lg-2 {
                display: flex;
                flex-direction: column;
                margin-bottom: 2rem;

                h5 {
                    font-size: 1rem;
                    margin-bottom: 1.5rem;
                }

                .link {
                    font-size: 0.8rem;
                    color: $TextColor;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}