$Green: #04491D;
$White: #FFFFFF;
$TextColor: #121212;
$HeaderColor: #101010;
$InputBG: #F3F3F3;
$DivBorder: #C3C3C3;
$Grey: #E9E9E9;
$DarkGrey: #727272;
$Yellow: #FEF212;
$FooterBG: #EBEBEB;
$LineColor: #949494;